---
import SectionContainer from "./SectionContainer.astro";
import ProjectCard from "./ProjectCard.astro";
import { PROJECTS } from "@data/index";
---

<SectionContainer title="Proyectos" href="/projects">
  <div class="grid md:grid-cols-2 grid-cols-1 gap-3">
    {
      PROJECTS.slice(0, 2).map((project) => {
        const { title, description, github, image, link, tags } = project;
        return (
          <ProjectCard
            title={title}
            description={description}
            github={github}
            image={image}
            link={link}
            tags={tags}
          />
        );
      })
    }
  </div>
</SectionContainer>
