---
import EyeIcon from "@icons/EyeIcon.astro";
import GithubIcon from "@icons/GithubIcon.astro";
import LinkIcon from "@icons/LinkIcon.astro";
import LockIcon from "@icons/LockIcon.astro";

interface Props {
  title: string;
  description: string;
  link: string | null;
  github: string;
  image: string | null;
  tags: any[];
  status: boolean,
  category: string
}

const { title, description, link, github, image, tags,status,category } = Astro.props;
---

<article
  class="rounded-md border border-gray-500/20 flex flex-col overflow-hidden group hover:shadow-2xs hover:shadow-gray-500/20 transition-all duration-300 relative"
>
  <header
    class="w-full h-[600px] relative overflow-hidden flex justify-center items-center"
  >
    <img
      src={image}
      alt={image ? `Imagen del proyecto: ${title}` : "Proyecto en proceso"}
      class={`w-full h-full object-cover group-hover:scale-105 transition-all duration-300 `}
    />

    <span class="absolute bottom-2 right-2 text-sm px-3 py-1 bg-black/80 text-white rounded-2xl font-bold border border-black/80">{category}</span>

    {
      !image && (
        <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-black/40 to-transparent"></div>
<h2 class="absolute text-white text-2xl font-bold">
  🧑‍💻 Proyecto en proceso 🧑‍💻
</h2>
      )
    }
  </header>

  <div class="px-5 py-3 flex flex-col flex-1">
    <h3 class="text-white font-bold text-lg">{title}</h3>
    {/* Techs */}
    <div class="flex items-center gap-2 mt-5 flex-wrap">
      {
        tags.map((tag) => {
          const { icon: Icon, name } = tag;
          return (
            <span class="flex items-center gap-2 px-5 py-1 rounded-md bg-gray-500/20 text-white border border-gray-500/20 text-sm">
              <Icon />
              {name}
            </span>
          );
        })
      }
    </div>
    {/* Descripción del proyecto */}
      <p class="mt-5 text-gray-400 font-light">
        {
          description
        }
    </p>

    {/* Links */}
    <div class="flex mt-10 gap-2 flex-1 items-end ">
      {
        link && (
          <a
            href={link}
            target="_blank"
            class="flex items-center px-3 py-1 bg-gray-500/10 text-gray-400 hover:text-white transition-all duration-300 cursor-pointer gap-1 border border-gray-500/20 rounded-md"
            rel="noopener noreferrer"
          >
            <LinkIcon />
            Preview
          </a>
        )
      }
      {
        github && (
          <a
            href={github}
            target="_blank"
            class="flex items-center px-3 py-1 bg-gray-500/10 text-gray-400 hover:text-white transition-all duration-300 cursor-pointer gap-1 border border-gray-500/20 rounded-md"
            rel="noopener noreferrer"
          >
            <GithubIcon />
            Código
          </a>
        )
      }


    </div>
  </div>

  <!-- Status -->
   {
    !status && (
    <div class="absolute top-0 left-0 z-10 w-full h-full backdrop-blur-sm flex  justify-center items-center">
     <div class="flex items-center gap-5 bg-white px-4 py-2 rounded-2xl border border-[#141826]/80 font-bold text-[#141826]">
       <LockIcon/>
       <span>En proceso...</span>
     </div>
    </div>
    )
   }
</article>
