---
import ProjectCard from "@components/ProjectCard.astro";
import ProjectMovil from "@components/ProjectMovil.astro";
import { PROJECTS } from "@data/index";
import Layout from "@layouts/Layout.astro";

const webProjects = PROJECTS.filter(
  (project) => project.platform === "Web" && project.category === "Profesional"
);

const mobileProjects = PROJECTS.filter(
  (project) => project.platform === "Móvil"
);

const personalProjects = PROJECTS.filter(
  (project) => project.category === "Personal"
);

console.log(personalProjects);
---

<Layout title="RodrisDev - Proyectos">
  <!-- Proyectos Web -->
  <section class="flex flex-col gap-3 py-10 mb-10">
    <h2
      class="flex items-center gap-2 text-2xl mb-10 font-bold [&>span]:text-primary"
    >
      <span>#</span> Proyectos Web
    </h2>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-3">
      {
        webProjects.length > 0 &&
          webProjects.map((project) => (
            <ProjectCard
              title={project.title}
              description={project.description}
              github={project.github}
              image={project.image}
              link={project.link}
              tags={project.tags}
              status={project.status}
              category={project.category}
            />
          ))
      }
    </div>
  </section>

  <!-- Proyectos Movil -->
  <section class="flex flex-col gap-3 py-10 mb-10">
    <h2
      class="flex items-center gap-2 text-2xl mb-10 font-bold [&>span]:text-primary"
    >
      <span>#</span> Aplicaciones móviles
    </h2>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-3">
      {
        mobileProjects.length > 0 &&
          mobileProjects.map((project) => (
            <ProjectMovil
              title={project.title}
              description={project.description}
              github={project.github}
              image={project.image}
              link={project.link}
              tags={project.tags}
              status={project.status}
              category={project.category}
            />
          ))
      }
    </div>
    <!-- Proyectos Movil -->
    <!-- Proyectos Personales -->
  </section>
  <!-- Proyectos Personales -->
  <section class="flex flex-col gap-3 py-10 mb-10">
    <h2
      class="flex items-center gap-2 text-2xl mb-10 font-bold [&>span]:text-primary"
    >
      <span>#</span> Proyectos personales
    </h2>

    <div class="grid md:grid-cols-2 grid-cols-1 gap-3">
      {
        personalProjects.length > 0 &&
          personalProjects.map((project) => (
            <ProjectCard
              title={project.title}
              description={project.description}
              github={project.github}
              image={project.image}
              link={project.link}
              tags={project.tags}
              status={project.status}
              category={project.category}
            />
          ))
      }
    </div>
  </section>
</Layout>
